<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <title>Über uns – Polizei Bielefeld</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <h2>Über uns</h2>
    <p>
        Polizeibeamtin oder Polizeibeamter zu sein bedeutet, ein hohes Maß an Verantwortung für die Sicherheit der Bürgerinnen und Bürger zu übernehmen.
         Einsatzbewältigung, Gefahrenabwehr, Kriminalitätskontrolle und polizeiliche Verkehrssicherheitsarbeit bestimmen den Berufsalltag.
          Polizeiarbeit heißt, Grundrechte zu schützen, Menschen in für sie schwierigen Situationen zu helfen, Straftaten aufzuklären und Verkehrsverstöße zu ahnden.
    </p>
    <p>
        Wir bieten ein bezahltes Studium an einer Fachhochschule des Landes NRW (HSPV).
        Nach drei Jahren erfolgreicher Studienzeit beendest du diese mit einem Bachelorabschluss und wirst garantiert in den Polizeidienst des Landes NRW eingestellt.
    </p>
    <a href="/" class="button">Zurück zur Startseite</a>
  </div>
</body>
</html>
